<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="nlog-internal.log" >
  <targets>
    <target name="console" xsi:type="Console" />
    <target name="debugger" xsi:type="Debugger" layout="${date:format=HH\:mm\:ss.fff}: ${message}" />
    <target name="error_file" xsi:type="File"
                    fileName="${basedir}/NLog/${shortdate}.log" maxArchiveFiles="30"
                    layout="${longdate} | ${level:uppercase=false} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
  </targets>
  <rules>
    <logger name="*" writeTo="console" />
    <logger name="*"  writeTo="debugger" />
    <logger name="*"  writeTo="error_file" />
  </rules>
</nlog>